@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>entrancecoach.com</h1>
    <p class="lead">Welcome to entrancecoach.com.</p>
    <p><a href="http://www.entrancecoach.com/" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Medical | NEET</h2>
        <p>
            Prepare with india's top trainers...
        </p>
        <p><a class="btn btn-default" href="http://www.entrancecoach.com/courses.html" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Engineering | IIT JEE</h2>
        <p>India’s best JEE test series...</p>
        <p><a class="btn btn-default" href="http://www.entrancecoach.com/courses.html" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Integrated Course</h2>
        <p>Medical / Engineering...</p>
        <p><a class="btn btn-default" href="http://www.entrancecoach.com/courses.html" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>